*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(111, 111, 241);
}
.form{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 5rem;
  
}
input{
  margin-bottom: 5px;
  border-radius: 18px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 3px;
  background-color: rgb(233, 224, 224);
  color:rgb(77, 74, 74);
}
button{
  margin-top: 10px;
  border-radius: 18px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgb(27, 193, 199);
  color: white;
  transition: .3s all;

}
button:hover{
  background-color: rgb(76, 206, 59);
  
}
label{
  margin: 4px 0;
  color: white;
}
h1{
  text-align: center;
  margin-top: 15px;
}
p{
  text-align: center;
  margin-top: 20px;
}
